<li class="list-group-item" data-room-ident="{{ ident }}">
    <input class="form-check-input me-2" type="radio" name="room-id" value="{{ ident }}" id="room-{{ ident }}" required>
    <label for="room-{{ ident }}">{{ name }}</label>
</li>